<!DOCTYPE html>
<html>
  <head>
    <title>Tsumego Tsar</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,600,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    <div id="entrypoint"></div>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>